* {background-color:#99F0D8;
}

h1 {
  font-family:Arial,tahoma, sansserif;
}

a:link {
  color:#2452FA;
  font-family: "Times New Roman", Times, serif;
  }

a :visited { :#36F021;
font-family: "Times New Roman", Times, serif;
}
