.container {
font-family: Trajan Pro Regular, serif;
color: white;
font-size: 50px;
}


.Alpha {
  background-color: none;
  border: none;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Alpha:hover {
  color: red;
}

.article {
  background-image: url(../img/Penguin.png);
  background-size: cover;
  background-color: green;
  height: 2000px;
}

.container {
  background-image: url(../img/hollow-knight.jpg);
  Background-size: cover;
  height: 700px;
  padding: 100px;
  margin: 50px auto;
  width: 75%;
}

}
@media screen and (max-width: 1500px) {
  body {
    background-color: #AAF0EB;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background-color: #60F0EE;
  }
}
@media screen and (max-width: 500px) {
  body {
    background-color: #0D70F0;
  }
}
