.button1:hover{
background-color: none;
border: none;
color: white;
padding: 2em;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.button2:active{
  background-color: none;
  border: none;
  color: white;
  padding: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
h1 {

}
