header {
background-color: white;
width: 100%;
height: 170px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



body {
  background-color: #F7DEA4;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}


.sidepanel  {
width: 0;
position: fixed;
z-index: 1;
height: 500px;
top: 0;
left: 0;
background-color: white;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidepanel a {
padding: 50px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidepanel a:hover {
color: #f1f1f1;
}

.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
}

.openbtn {
font-size: 50px;
cursor: pointer;
background-color: white;
color: black;
padding: 40px 25px;
border: none;
position: absolute;
top: 10px;
left: 10px;
}

.openbtn:hover {
background-color:#f1f1f1;
}

#logo {
  display: block;
  height: 150px;
  width:150px;
margin-left: auto;
margin-right: auto;
}

h1 {
font-family: "Arial Black",sans-serif;
font-size: 30px;
margin-left: auto;
padding: 100px;
text-align: center;
color: #707070;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  padding-top: 0;
  margin-top: 0%;
  top: -89px;

  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top:-89px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.location {
  font-size: 9px;
text-align: center;
padding: 9px;
}

h4 {
  text-align: center;
}

.iframe {
width: 500px;
height: 500px;
margin-left: auto;
margin-right: auto;
}

.about {
  line-height: 1.4;
  text-align: left;
  font-size: 10px;
  margin-top: 20px;
margin-bottom: 50px;
margin-right: 60px;
margin-left: 60px;
padding-bottom: 80px;
}

/*--- start  test ---*/
h2 {
font-size: 25px;
margin-bottom: 50px;
padding: 10px;
}

li, ul, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
}

section {
  width: 50%;
  margin: 80px;
  position: relative;
}


.section  p, ul, li {
  font-size: 10px;
  color:black;
}

.special-drinks, .Standard-Drinks, .Iced-Drinks, .Hot-Teas {
  margin: 0 auto;
  font-size: 20px;
}

 .menu-item-row {
  width:  90%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4 10 1rem 9;
}


.menu-item-row ul {
  width:250px;
  list-style-type: none;
  float: right;
  text-align: right;
}

.menu-item-row ul li {
  width:10%;
  display:inline-block;
}

.drink-name{
  margin-left: 40px;
  padding-bottom: 2px;
  
}

.pannini{
  font-size: 25px;
  margin-bottom: 50px;
  padding: 10px;
}

 
.left{
  text-align: center;
  list-style-type: none;
font-size: 20px;
margin-right: 100px;
margin-left: 90px;
margin-bottom: 40px; 
}


.image {
text-align: center;
margin-top: 70px;
margin-right: 70px;
 margin-bottom: 70px;
 margin-left: 70px;
  
}

.text {
  list-style-type: none;
  
  
}

.all {
margin: 50px;
padding-bottom: 50px;
}
@media only screen and (min-width:600px){
   
  p {
    font-size: 20px;
  }
  
 .about{
  
  margin-left: 15%;
  margin-right: 15%;
 }

 .section  p, ul, li {
  font-size: 12px;
 }

 .menu-item-row ul li {
  width: 30%;
 } 

 .text {
   margin-left: 30%;
   margin-right: 30%;
 }
}